body{
    font-family: "Playfair", Helvetica, sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Trade Winds", "Times New Roman", system-ui;
    
}

header{
    background-color: #6DA34D;
}

#hero {
    position: relative;
}

#hero img{
    width: 100vw;
    height: auto;
}

.logo{
    width: 80px;
    padding: 0px 1rem;
}

h1{
    display: inline;
    font-size: 3rem;

}

h2{
    
    padding: 10px;
    margin-bottom:10px;
}
.tabs{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    background-color: #c5e99b;
}

a{
    text-decoration: none;
}
a:link{
    color: black;
}

a:visited{
    color: rgb(126, 37, 101);
}

a:hover{
    color: #5465ff;
}



main{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
}

.home{
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
    border: 1px solid black ;
    background-color: #c5e99b;
    
}

.weather{
    text-align: center;
}

#weather-icon{
    width: 150px;
}

footer{
    background-color: #6DA34D;
    font-size: 1.5rem;
}

footer img{
    margin: 0 20px;
}


#reservation {
    position: absolute;
    top:80%;
    left: 50%;
    background-color: #c5e99b;
    color: whitesmoke;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 2px solid black;
}

#banner{
    font-size: 2rem;
    border: 3px solid black;
}

table{
    margin:10px auto;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #FCFFEB;
    
}

th, td{
    border: 1px solid black;
    padding: 7px 15px;
    text-align: center;
    font-size: 0.6rem;
}

.tabletitle{
    background-color:#094074;
    font-size: 1.8rem;
    color: whitesmoke;
}

form label{
    display: block;
    padding-top: 1rem;
}

form input, form textarea, form select {
    display: block;
    width: 90%;
    max-width:500px;
    justify-content: center;
    border:solid 1px black;
    border-radius: 6px;
    padding:.75rem;
}

form fieldset{
    margin: 2rem 0;
    border-radius: 6px;
    padding : .5rem 2%;
    width: 100%;
    max-width: 550px;
}

li{
    padding-top: 10px;
}

.reserv{
    background-color: #6DA34D;
    padding: 1rem;
    margin: 0.5rem 1rem ;
    border: none;
    border-radius: 1rem;
    width: 96%;
    max-width: 400px;
}


form{
    padding-left: 50px;
}

iframe {
    display: block;
    width: 500px;
    padding: 20px;
    margin:20px;
}




