@media screen and (min-width: 1000px) {

    #reservation{
        font-size: 2.5rem;
    }

    th, td{
        font-size: 1.4rem;      
    }

    #contact p{
        font-size: 1.2rem;
        padding: 10px;
        
    }

    #contact{
        grid-column: 1/3;
    }


    #fcontact{
        grid-column: 3/5;
    }

    iframe{
        grid-column: 1/3;
    }

    #iframer{
        grid-column: 3/5;
    }



}