@media screen and (min-width: 600px) {
    .tabs{
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.5rem;
    }

    main{
        grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    }

    #reservation{
        font-size: 1.8rem;
    }


}