body{
    font-family: "Fira Sans", Helvetica, sans-serif;
    text-align: center;
}



h1, h2, h3 {
    font-family: "Nixi One", "Times New Roman", system-ui;
}

header{
    background-color: #386641;
}

.colors a{
    display: block;
    padding-bottom: 10px;
    
}

