@media screen and (min-width: 800px) {
    main{
        grid-template-columns: 10% 1fr 1fr 10%;
    
    }
    
    .lapaz img:hover{
        box-shadow: 0 0 40px #F75C03;
    }

    .lapaz img{
        margin: 20px;
    }

    .lapaz img{

        min-width: 300px;
    }

    



}