
@media screen and (min-width: 600px) {

#options {
    display: none;
}

.pages {
    flex-direction: row;
}

.pages a {
    display: block;
    flex: auto;
    padding-top: 20px;
}
main{
    grid-template-columns: 5% 1fr 1fr 5%;

}

.events {
    grid-column: 2/3;
    margin-right: 10px;
}

.weather {
    grid-column: 3/4;
    margin-left: 10px;
}
.spotlights{
    grid-column: 2/4;
}

.sidebar{
    grid-column: 2/3;
    padding-right: 10px;  
}

.lapaz {
    grid-column: 3/4;
}

.lapaz img{

    min-width: 200px;
}

.lapaz img:hover{
    box-shadow: 0 0 20px #F75C03;
}

.sidebar section, .sidebar iframe{
    border: 1px solid black;
}

}