:root{
    --backgroundColor: rgb(9, 9, 48);
    --borderColor: rgb(9, 9, 48);
    --invalidColor: red;
}


form label{
    display: block;
    padding-top: 1rem;
}

form input{
    display: block;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="range"]{
    width: 100%;
    max-width:400px;
    justify-content: center;
    border:solid 1px var(--borderColor);
    border-radius: 6px;
    padding:.75rem;

}

#formmessage {
	visibility: hidden;
	margin: 10px;
	padding: 0.5rem;
	color: var(--invalidColor);
}


header {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

h1{
    color: white;
    text-align: left;
    font-size:1.4rem;
}

.photo {
    height: 10rem;
    width: auto;
    padding: 50px;
}

.pages {
    display: grid;
    background-color: black;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px;
}

.submitBtn{
    border: none;
    background-color: var(--backgroundColor);
    color: whitesmoke;
    border-radius: 1rem;
    padding: .8rem;
    margin:-1rem 2% 2rem 2%;
}

form fieldset{
    margin: 2rem 0;
    border-radius: 6px;
    padding : .5rem 2%;
}

form input:required:invalid{
    border-right:var(--invalidColor) solid 8px;
}

form input:required:valid{
    border-right: green solid 8px;
}

main{
    max-width: 500px;
    padding:0 2%;
}

#rangevalue{
    font-size: 2rem;
}
