@media screen and (min-width: 800px) {
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 40px;
        row-gap: 10px;

    }

    h1{
        font-size:200%;
    }

    h2 {
        flex-basis:100%;
    }

    .card{
        
        margin-left: 50px;
        flex-basis:50%;
    }

    .info {
        
        margin-right: 50px;  
        flex-basis:30%;     
    }
    
    iframe{
        flex-basis: 50%;
    }
    
    #options {
        display: none;
    }

    .pages a {
        display: block;
  
    }

    .hero p{
        font-size: 2rem;
    }




 
}